body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1{
    margin: 50px auto 0 auto;
    margin-top: 0;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #79DAE8;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #79DAE8;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #0AA1DD;
}

a{
    color: #0AA1DD;
}

.pro{
    text-decoration: underline;
}

.profile-pic{
    height: 200px;
    border-radius: 100%;
}

.top-container{
    background-color: #E8F9FD;
    position: relative;
    padding-top: 100px; 
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.botton-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}